<!-- advantages begin -->
{% import "data/advantages-data.html" as data %}
<section class="advantages">
  <div class="advantages__wrapper wrapper">
    <h2 class="advantages__title head head__white">Advantages</h2>
    <p class="advantages__descr">Why us</p>
    <ul class="advantages__list">
      {% for item in data.list %}
        <li class="advantages__item">
          <a href="#" class="advantages__link">
            <img class="advantages__image" src="/img/{{ item.icon }}.svg" alt="Advantage image"/>
            <div class="advantages__text-wrapper">
              <h4 class="advantages__item-title">{{ item.title }}</h4>
              <p class="advantages__item-descr">{{ item.text }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<!-- advantages end -->
