<!-- cta begin -->
<section class="cta">
  <div class="cta__inner inner">
    <div class="cta__wrapper">
      <h2 class="cta__title title">Talk to us</h2>
      <form action="/" class="cta__form">
        <div class="cta__form-credentials">
          <input type="text" placeholder="Enter your name" class="cta__form-item cta__form-credential_name">
          <input type="text" placeholder="Enter your email" class="cta__form-item cta__form-credential_email">
        </div>
        <textarea placeholder="Short description of your idea" class="cta__form-item cta__form-descr"></textarea>
        <button class="cta__form-btn btn" type="submit">Send Message</button>
      </form>
    </div>
  </div>
</section>
<!-- cta end -->
