<!-- footer begin -->
{% import "data/footer-data.html" as data %}
<footer class="footer">
  <div class="footer__wrapper wrapper">
    <div class="footer__info">
      <div class="footer__contacts">
        <h4 class="footer__title">Contact</h4>
        <ul class="footer__contacts-list">
          {% for item in data.contacts %}
            <li class="footer__contacts-item">
              {{ mixins.icon(item.icon) }}
              <a href="{{ item.link }}" class="footer__contacts-link">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer__social">
        <h4 class="footer__title">Let's Connect</h4>
        <ul class="footer__social-list">
          {% for item in data.social %}
            <li class="footer__social-item">
              <a href="#" class="footer__social-link" aria-label="{{ item.label }}">
                {{ mixins.icon(item.icon) }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer__subscribe">
        <h4 class="footer__title">Subscribe to our news</h4>
        <form action="/" class="footer__subscribe-form">
          <input type="email" placeholder="Enter your email" class="footer__subscribe-mail">
          <button class="footer__btn btn" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>

  <div class="footer__outer">
    <div class="footer__wrapper wrapper">
      <div class="footer__copyrights">
        <p class="footer__copyrights-text">© 2015-2016 Brainbean Apps</p>
        <ul class="footer__technical-list">
          <li class="footer__technical-item">
            <a href="#" class="footer__technical-text">Cookies</a>
          </li>
          <li class="footer__technical-item">
            <a href="#" class="footer__technical-text">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->
