<!-- cta begin -->
<section class="our-team">
  <div class="our-team__wrapper wrapper wrapper__lg">
    <h1 class="head head__lg our-team__title">Our Team</h1>
    <p class="head head__sm our-team__subtitle">We’re empowering teams to do great things together.</p>
    <div class="our-team__content">
      <img src="img/all-team.jpg" alt="Our team" class="our-team__image">
      <div class="our-team__content-text">
        <h2 class="head our-team__content-title">Company Mission</h2>
        <p class="our-team__content-desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      </div>
    </div>
  </div>

</section>
<!-- cta end -->
