<!-- team-photoset begin -->
<section class="team-photoset">
  <div class="team-photoset__wrapper wrapper wrapper__lg">
    <div class="team-photoset__row team-photoset__row_top">
      <img src="img/team-photoset/photoset-first.jpg" alt="Team image" class="team-photoset__image team-photoset__image_first">
      <img src="img/team-photoset/photoset-second.jpg" alt="Team image" class="team-photoset__image team-photoset__image_second">
      <img src="img/team-photoset/photoset-third.jpg" alt="Team image" class="team-photoset__image team-photoset__image_third">
    </div>
    <div class="team-photoset__row team-photoset__row_bottom">
      <img src="img/team-photoset/photoset-fourth.jpg" alt="Team image" class="team-photoset__image team-photoset__image_fourth">
      <img src="img/team-photoset/photoset-fifth.jpg" alt="Team image" class="team-photoset__image team-photoset__image_fifth">
      <img src="img/team-photoset/photoset-sixth.jpg" alt="Team image" class="team-photoset__image team-photoset__image_sixth">
      <img src="img/team-photoset/photoset-seventh.jpg" alt="Team image" class="team-photoset__image team-photoset__image_seventh">
    </div>
  </div>
</section>
<!-- team-photoset end -->
