<!-- begin workflow -->
{% import "data/workflow-data.html" as data %}
<section class="workflow">
  <div class="workflow__wrapper wrapper">
    <h2 class="workflow__title head">Workflow</h2>
    <ul class="workflow__list">
      {% for item in data.list %}
        <li class="workflow__item">
          <a href="#" class="workflow__link">
						<span class="workflow__icon">
							{{ item.icon | safe }}
						</span>
            <span class="workflow__name">{{ item.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul class="workflow__arrows-list">
      {% for item in data.arrows %}
        <li class="workflow__arrows-item workflow__arrows-item_{{ item.icon }}"></li>
      {% endfor %}
    </ul>
  </div>
</section>
<!-- end workflow -->
