{% set
  list = [
  {
    title: "Product Strategy",
    icon: "product-strategy",
    list: [
    {
      text: "<span class='achievement__bold'>Idea evaluation</span> to check if the market’s ready for your product"
    },
    {
      text: "<span class='achievement__bold'>Business strategy</span> to fit into your time and budget limits"
    },
    {
      text: "<span class='achievement__bold'>Product design</span> to make sure you address users’ expectations"
    }
  ]
  },
  {
    title: "Product building",
    icon: "product-building",
    list: [
    {
      text: "We’ll <span class='achievement__bold'>manage your project</span> to let you focus on your business"
    },
    {
      text: "<span class='achievement__bold'>UX/UI design</span> to make your product shine among others"
    },
    {
      text: "<span class='achievement__bold'>Software development</span> to turn your all your ideas into life"
    },
    {
      text: "<span class='achievement__bold'>Quality assurance</span> to make every release smooth and steady"
    }
  ]
  },
  {
    title: "Product growth",
    icon: "product-growth",
    list: [
    {
      text: "Explode the internet on your <span class='achievement__bold'>product release</span> with our help"
    },
    {
      text: "<span class='achievement__bold'>Refinement & modernization</span> to make your success a never-ending story"
    },
    {
      text: "<span class='achievement__bold'>Support & maintenance</span> for top product realibility and scalability"
    }
  ]
  }
] %}
