{% set
  list = [
  {
    icon: "engineers",
    title: "Engineers, not coders",
    text: "Deep market knowledge to help you shape the best product"
  },
  {
    icon: "idea-evaluation",
    title: "Idea evaluation",
    text: "Expert market research and product concept validation "
  },
  {
    icon: "hassle-free-trial",
    title: "Hassle-free trial",
    text: "Two-week trial period to see if we fit each other"
  },
  {
    icon: "transparent-workflow",
    title: "Transparent workflow ",
    text: "Project roadmap and daily progress updates"
  },
  {
    icon: "time-and-money",
    title: "90% estimation accuracy",
    text: "Most detailed project time&budget estimations on the market"
  },
  {
    icon: "az-product-development",
    title: "A-Z product development",
    text: "For bigger vision, tighter interaction and better communication "
  }
] %}
