{% set
contacts = [
  {
    text: "+1.855.922.2777",
    icon: "phone",
    link: "tel:+1.855.922.2777"
  },
  {
    text: "+372.880.7088",
    icon: "phone",
    link: "tel:+372.880.7088"
  },
  {
    text: "brainbeanapps",
    icon: "skype",
    link: "#"
  },
  {
    text: "hello@brainbeanapps.com",
    icon: "mail",
    link: "mailto:hello@brainbeanapps.com"
  }
]%}

{% set
social =[
  {
    icon: "facebook",
    label: "Facebook"
  },
  {
    icon: "twitter",
    label: "Twitter"
  },
  {
    icon: "linkedin",
    label: "LinkedIn"
  },
  {
    icon: "github",
    label: "Github"
  },
  {
    icon: "medium",
    label: "Medium"
  }
]%}
