{% set list = [
  {
    type: 'team',
    name: 'Production team',
    icon: '',
    theme: 'blue'
  },
  {
    type: 'person',
    name: 'Alex Korsun',
    position: 'Android Engineer',
    photo: ''
  },
  {
    type: 'person',
    name: 'Andrew Kaganets',
    position: 'Android Engineer',
    photo: ''
  },
  {
    type: 'person',
    name: 'Denys Prykhodko',
    position: 'Android Engineer',
    photo: ''
  },
  {
    type: 'person',
    name: 'Viacheslav Burchenko',
    position: 'Android Engineer',
    photo: ''
  },
  {
    type: 'person',
    name: 'Dmitriy Shulzhenko',
    position: 'iOS Engineer',
    photo: ''
  },
  {
    type: 'person',
    name: 'Dmytro Romanov',
    position: 'iOS Engineer',
    photo: ''
  },
  {
    type: 'person',
    name: 'Eugene Aronov',
    position: 'iOS Engineer',
    photo: ''
  },
  {
    type: 'person',
    name: 'Igor Dorogokuplia',
    position: 'iOS Engineer',
    photo: ''
  },
  {
    type: 'person',
    name: 'Andrey Soltan',
    position: 'Front-End Engineer',
    photo: ''
  },
  {
    type: 'person',
    name: 'Ruslan Terekhov',
    position: 'Back-end Engineer',
    photo: ''
  },
  {
    type: 'person',
    name: 'Yuriy Kryvokhyzha',
    position: 'Back-end Engineer',
    photo: ''
  },
  {
    type: 'person',
    name: 'Valerii Derevshchykov',
    position: 'Front-end Developer',
    photo: ''
  },
  {
    type: 'team',
    name: 'Delivery team',
    icon: '',
    theme: 'green'
  },
  {
    type: 'person',
    name: 'Alexey Pelykh',
    position: 'CEO & CTO',
    photo: ''
  },
  {
    type: 'person',
    name: 'Bogdan Paiuk',
    position: 'Lead Project Manager ',
    photo: ''
  },
  {
    type: 'person',
    name: 'Kate Korolevych',
    position: 'Project Manager',
    photo: ''
  },
  {
    type: 'person',
    name: 'Dmytro Ryashchenko',
    position: 'DevOps',
    photo: ''
  },
  {
    type: 'person',
    name: 'Luka Guzenko',
    position: 'UX/UI designer',
    photo: ''
  },
  {
    type: 'person',
    name: 'Roma Zhelizniak',
    position: 'Quality Assurance',
    photo: ''
  },
  {
    type: 'person',
    name: 'Nikolay Dokuchaiev',
    position: 'Quality Assurance',
    photo: ''
  },
  {
    type: 'team',
    name: 'Bizdev team',
    icon: '',
    theme: 'red'
  },
  {
    type: 'person',
    name: 'Svitlana Sergiichuk',
    position: '???????',
    photo: ''
  },
  {
    type: 'person',
    name: 'Andrew Yemelyanov',
    position: '???????',
    photo: ''
  },
  {
    type: 'person',
    name: 'Kate Levshyna',
    position: '???????',
    photo: ''
  },
  {
    type: 'person',
    name: 'Natalia Gryazeva',
    position: '???????',
    photo: ''
  },
  {
    type: 'person',
    name: 'Nata Datsenko',
    position: 'HRBP',
    photo: ''
  },
  {
    type: 'person',
    name: 'Max Sushchuk',
    position: 'IOT AND HOME AUTOMATION EXPERT',
    photo: ''
  },
  {
    type: 'person',
    name: 'Daria Kroshka',
    position: 'Project Manager',
    photo: ''
  },
  {
    type: 'person',
    name: 'Anastasia Lushyna',
    position: 'Project Manager',
    photo: ''
  },
  {
    type: 'person',
    name: 'Eugenia Nemkova',
    position: 'Marketing Manager',
    photo: ''
  }
] %}
