{% set
list = [
  {
    height: 323,
    image: 'team-first'
  },
  {
    height: 160,
    image: 'team-second'
  },
  {
    height: 180,
    image: 'team-third'
  },
  {
    height: 323,
    image: 'team-fourth'
  },
  {
    height: 130,
    image: 'team-fifth'
  },
  {
    height: 208,
    color: "gold"
  },
  {
    height: 323,
    image: 'team-sixth'
  },
  {
    height: 107,
    color: "blue"
  },
  {
    height: 180,
    image: 'team-seventh'
  },
  {
    height: 160,
    color: "green"
  },
  {
    height: 160,
    image: 'team-eighth'
  },
  {
    height: 130,
    image: 'team-ninth'
  }
]%}
