{% set
  list = [
  {
    text: "I found that Brainbean Apps are always 5 steps ahead of us. They are very aware of the process that is there for a startup to launch. They know the ins and outs of it.",
    name: "Jevgenijs Fokins",
    position: "Director, Cabin Media Limited",
    avatar: "placeholder-avatar"
  },
  {
    text: "They seem to develop the products as though they are their own; not simply a business transaction for a faceless client.",
    name: "Jayson DeMers",
    position: "Founder & CEO, AudienceBloom",
    avatar: "placeholder-avatar"
  },
  {
    text: "The technical know-how on display over the course of the project is impressive. The development team's clear commitment to the project and ability to meet tight deadlines is appreciated.",
    name: "Luke Fromowitz",
    position: "CEO, Chronos",
    avatar: ""
  },
  {
    text: "I found that Brainbean Apps are always 5 steps ahead of us. They are very aware of the process that is there for a startup to launch. They know the ins and outs of it.",
    name: "Jevgenijs Fokins",
    position: "Director, Cabin Media Limited",
    avatar: "placeholder-avatar"
  },
  {
    text: "They seem to develop the products as though they are their own; not simply a business transaction for a faceless client.",
    name: "Jayson DeMers",
    position: "Founder & CEO, AudienceBloom",
    avatar: "placeholder-avatar"
  },
  {
    text: "The technical know-how on display over the course of the project is impressive. The development team's clear commitment to the project and ability to meet tight deadlines is appreciated.",
    name: "Luke Fromowitz",
    position: "CEO, Chronos",
    avatar: ""
  },
  {
    text: "I found that Brainbean Apps are always 5 steps ahead of us. They are very aware of the process that is there for a startup to launch. They know the ins and outs of it.",
    name: "Jevgenijs Fokins",
    position: "Director, Cabin Media Limited",
    avatar: "placeholder-avatar"
  },
  {
    text: "They seem to develop the products as though they are their own; not simply a business transaction for a faceless client.",
    name: "Jayson DeMers",
    position: "Founder & CEO, AudienceBloom",
    avatar: "placeholder-avatar"
  },
  {
    text: "The technical know-how on display over the course of the project is impressive. The development team's clear commitment to the project and ability to meet tight deadlines is appreciated.",
    name: "Luke Fromowitz",
    position: "CEO, Chronos",
    avatar: ""
  }
] %}
