{% set
  product = [
  {
    link: "#",
    text: 'Strategy'
  },
  {
    link: "#",
    text: 'Design'
  },
  {
    link: "#",
    text: 'Development'
  },
  {
    link: "#",
    text: 'Growth'
  }
]%}
{% set
  links =
  [
    {
      name: 'android-tv',
      title: 'Android TV',
      icon: 'android-tv'
    },
    {
      name: 'apple-tv',
      title: 'Apple TV',
      icon: 'apple-tv'
    },
    {
      name: 'web',
      title: 'Web',
      icon: 'web'
    },
    {
      name: 'beacons',
      title: 'Beacons & Accessories',
      icon: 'accessories'
    },
    {
      name: 'iot',
      title: 'IoT',
      icon: 'iot'
    },
    {
      name: 'phones-tablets',
      title: 'Phones & Tablets',
      icon: 'phones-and-tablets'
    },
    {
      name: 'iphone-ipad',
      title: 'iPhone & iPad',
      icon: 'iphone-and-ipad'
    },
    {
      name: 'wearables',
      title: 'Wearables',
      icon: 'wearables'
    }
  ]
 %}
