{% set
  list = [
  {
    icon: 'estimation',
    name: 'Estimation'
  },
  {
    icon: 'scope',
    name: 'Scope'
  },
  {
    icon: 'strategy',
    name: 'Strategy'
  },
  {
    icon: 'design',
    name: 'Design'
  },
  {
    icon: 'development',
    name: 'Development'
  },
  {
    icon: 'release',
    name: 'Release'
  },
  {
    icon: 'growth',
    name: 'Growth'
  }
] %}

{% set
arrows = [
  {
    icon: 'arrow-big'
  },
  {
    icon: 'arrow'
  },
  {
    icon: 'arrow'
  },
  {
    icon: 'arrow'
  },
  {
    icon: 'arrow'
  },
  {
    icon: 'arrow'
  },
  {
    icon: 'lines'
  }
]%}
