{% set
  list = [
  {
    position: "01",
    date: "January <span class='works__date_blue'>2017</span>",
    tags: "tags project",
    title: "SwitchMate",
    descr: "Mobile apps for the world’s first home lighting device that instantly snaps over existing light switches to bring lighting controls right to a user’s phone.",
    image: "switchmate"
  },
  {
    position: "02",
    date: "January <span class='works__date_blue'> 2017 - Now</span>",
    tags: "tags project",
    title: "Email Analytics",
    descr: "It’s like Google Analytics for email: track your or your team’s email use and visualize the metrics that matter.",
    image: "ea"
  },
  {
    position: "03",
    date: "January <span class='works__date_blue'> 2017 - Now</span>",
    tags: "tags project",
    title: "OsmAnd",
    descr: "We’re an exclusive Osmand’s partner customizing their map solution for clients all over the world and occasionally helping them with improving its functionality.",
    image: "osm-ans"
  }
] %}
