.achievement
	padding-top: 80px
	background-color: $white
	+md
		padding-top: 60px
	+sm
		padding-top: 40px

	&__wrapper
		display: flex
		flex-direction: column
		align-items: center

	&__title

	&__descr
		+notosans
		font-size: 16px
		+md
			font-size: 14px

	&__achieve-list
		width: 100%
		margin-top: 54px
		display: flex
		justify-content: space-between
		+md
			padding: 0 12px
			margin-top: 32px
		+sm
			flex-wrap: wrap
			padding: 0 6px
			margin-top: 0
			justify-content: center

	&__achieve-item
		padding: 24px
		background-color: #fafbfc
		width: 32%
		max-width: 337px
		+md
			padding: 16px
		+sm
			margin-top: 24px
			width: 100%
			max-width: 430px

	&__head
		display: flex
		align-items: center
		+sm
			justify-content: center

	&__achieve-icon
		width: 48px
		height: 48px

	&__achieve-image

	&__achieve-title
		font-weight: 400
		margin-left: 15px
		letter-spacing: 0.4px

	&__descr-list
		margin-top: 24px

	&__descr-item

	&__descr-text
		+notosans
		font-size: 14px
		color: $cool-grey-two
		letter-spacing: 0.3px
		margin-top: 18px
		&:before
			content: "•"
			color: $greyish-brown


	&__bold
		font-weight: 700
		color: $greyish-brown
