.btn
	display: flex
	justify-content: center
	align-items: center
	width: 142px
	height: 56px
	background-color: $sky-blue
	color: $white
	font-size: 16px
	border-radius: 5px
	box-shadow: 0 10px 10px 0 rgba($blue-grey, 0.15)
	&:hover
		opacity: 0.7
	&:active
		opacity: 0.85
