.footer
	background-color: $light-navy
	color: $white

	&__outer
		background-color: #165c8a

	&__inner

	&__info
		padding: 40px 0
		display: flex
		flex-wrap: wrap

	&__contacts
		width: 100%

	&__title
		font-size: 21px
		color: $sky-blue
		font-weight: 400

	&__contacts-list
		display: flex
		margin-top: 13px

	&__contacts-item
		display: flex
		align-items: center
		margin-right: 71px
		.icon
			width: 24px
			height: 24px
			fill: $white

	&__contacts-link
		color: $white
		font-size: 21px
		margin-left: 10px

	&__social
		margin-top: 40px
		width: 51%

	&__social-list
		margin-top: 16px
		display: flex

	&__social-item
		margin-right: 25px

	&__social-link
		.icon
			fill: $white
			width: 39px
			height: 39px

	&__subscribe
		margin-top: 40px
		width: 49%

	&__subscribe-form
		margin-top: 7px
		display: flex

	&__subscribe-mail
		width: 100%
		max-width: 384px

	&__btn
		margin-left: 8px

	&__copyrights
		display: flex
		justify-content: space-between

	&__copyrights-text

	&__technical-list
		display: flex

	&__technical-item

	&__technical-text
