.icon-citates {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-github {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-medium {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-skype {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
