.icon-product-building {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-product-growth {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-product-strategy {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
